<html>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

            <a href="/posts/<%= post._id %>">
                <div class="post">
                    <img src="/post_image/<%- post.image %>" class="post_image">
                    <h2><%= post.title %></h2>
                    <script>
                        document.write(marked('<%- post.body %>'));
                    </script>
                    <script>
                        document.write('<p>Author: '+'<%- post.author %>'+'</p>');
                    </script>
                </div>
            </a>

    </body>
</html>
